.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#menu {
    right: 90%;
    width: 10%;
    height: 300px;
    position: absolute;
}


a:link, a:active {
    color: #0000ff;
    font-weight: bold
}

a:visited {
    color: white;
    font-weight: bold
}

a:hover {
    color: #66cc66;
    font-weight: bold;
    text-decoration: none
}